/* Stilizare elemente specifice pagina In curand */

.imgsoon{
	padding-top:40px;
	padding-right:100px;
	padding-left:140px;
	width: 275px ;
	height:400px;
	
}
.soon{
	display: flex;
	flex-wrap:wrap;
}

.imfsoon{
	padding-top:125px;
	color:white;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	font-family: Verdana, Geneva, sans-serif;
	font-size:21px;
	border-left-style: solid;
	border-left-color:white;
	border-left-width:5px;
	padding-left:60px;
	margin-top:40px;
}

.lp{
	font-family: Tahoma, Geneva, sans-serif;
	color:white;
	padding-top:20px;
	font-size:19px;
}

.incurand{
	padding-top:100px;
	text-align:center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 25px;
	color:white;
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
	text-transform: capitalize;
	
}
#cc>p:nth-of-type(2),#cc>p:nth-of-type(3){
	padding-top:30px;
}

#cc>p>a{
	color:white;
	padding-left:140px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15px;
}
@media screen and (max-width: 500px){
.soon{
	display:block;
	margin-right:0px;
}
.imgsoon{
	padding-right:0px;
	padding-left:0px;
	display: block;
    margin-left: auto;
    margin-right: auto;	
}
.imfsoon{
	padding-top:20px;
	color:white;
	width:auto;
	border-left-style: none;
	border-bottom-style: solid;
	border-bottom-color:white;
	border-bottom-width:5px;
	text-align: center;
	margin-top:0px;
	padding-left:0px;
	font-size:15px;
}
.soon:nth-of-type(5)>.imfsoon{
	border-bottom-style: none;
}

.lp,#cc>p:nth-of-type(2),#cc>p:nth-of-type(3){
	text-align: center;
	font-size:15px;
}
#cc>p>a{
	padding-left:0px;
}
.incurand{
	padding-top:20px;
	font-size: 20px;
	padding-bottom:20px;
}
}

@media screen and (max-width: 700px) and (min-width: 500px){
.soon{
	display:block;
	margin-right:0px;
}
.imgsoon{
	padding-right:0px;
	padding-left:0px;
	display: block;
    margin-left: auto;
    margin-right: auto;	
}
.imfsoon{
	padding-top:20px;
	color:white;
	width:auto;
	border-left-style: none;
	border-bottom-style: solid;
	border-bottom-color:white;
	border-bottom-width:5px;
	text-align: center;
	margin-top:0px;
	padding-left:0px;
	font-size:15px;
}
.soon:nth-of-type(5)>.imfsoon{
	border-bottom-style: none;
}

.lp,#cc>p:nth-of-type(2),#cc>p:nth-of-type(3){
	text-align: center;
	font-size:17px;
}
#cc>p>a{
	padding-left:0px;
}
.incurand{
	padding-top:20px;
	font-size: 23px;
	padding-bottom:25px;
}
}

@media screen and (max-width: 1120px) and (min-width: 700px){
	

.imgsoon{
	width: 200px ;
	height:300px;
	padding-left:50px;
	padding-right:50px;
}
.imfsoon, .lp{
	width:auto;
	font-size:12px;
}
.imfsoon{
	padding-left:45px;
}
.incurand{
	padding-top:20px;
	font-size: 15px;
}

#cc>p>a{
	padding-left:50px;
}
}