/* Stilizare elemente specifice pagina Meniu */

th,td{
	border:3px solid white;
	padding:7px;
	color:white;
	font-size: 20px;
	}

table{
	border-collapse:collapse;
	empty-cells:show;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100vh;
	}

#tab{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
}
tbody tr:nth-child(odd) {
  background-color: #A52A2A;
}

tbody tr:nth-child(even) {
  background-color: #D2691E;
}

thead tr {
  background-color: #FF8C00;
}

@media screen and (max-width: 750px) and (max-height: 1000px){

table,tr{
	border:none;
	padding:0;
	margin:0;
	display:block;
} 
table{ 
	margin-left: auto;
    margin-right: auto;
	width: 90%;
	padding-left:50px;
}
thead{
    display:none;
}

td{
	display:block;
	border-bottom:none;
	border-top:none;
	box-sizing:border-box;
	text-align:left;
	width: 100%;
}
table tbody td:nth-child(1):before{
	content:"Nume: ";
}
table tbody td:nth-child(2):before{
	content:"Mărime: ";
}
table tbody td:nth-child(3):before{
	content:"Mărime: ";
}
table tbody td:nth-child(4):before{
	content:"Mărime: ";
}
table tbody td:nth-child(5):before{
	content:"Preț: ";
}


tbody tr:nth-of-type(odd) td{
	border-bottom-style: solid;
	border-bottom-color: #FF4500;
}

tbody tr:nth-of-type(even) td{
	border-bottom-style: solid;
	border-bottom-color: #6A5ACD;
}
table tr:first-child  td:first-child{
	border-top:3px solid white;
}
		
table tr:last-child td:last-child{
	border-bottom:3px solid white;
}
td:before{
	background:#FFA07A;
	width:15vh;
	margin-right:0.5em;
	float:left;
  	line-height:100%;
}
tr{
	border-bottom: 3px solid white;
	width: 100%;
}
tbody tr td:nth-of-type(5){
		border-bottom:none;
}
}



@media screen and (max-width: 450px) and (max-height: 700px){

table,tr{
	border:none;
	padding:0;
	margin:0;
	display:block;
} 
table{ 
	margin-left: auto;
    margin-right: auto;
	width: 75.5%;
	padding-left:50px;
}
thead{
    display:none;
}

td{
	display:block;
	border-bottom:none;
	border-top:none;
	box-sizing:border-box;
	text-align:left;
	width: 100%;
}
table tbody td:nth-child(1):before{
	content:"Nume: ";
}
table tbody td:nth-child(2):before{
	content:"Mărime: ";
}
table tbody td:nth-child(3):before{
	content:"Mărime: ";
}
table tbody td:nth-child(4):before{
	content:"Mărime: ";
}
table tbody td:nth-child(5):before{
	content:"Preț: ";
}


tbody tr:nth-of-type(odd) td{
	border-bottom-style: solid;
	border-bottom-color: #FF4500;
}

tbody tr:nth-of-type(even) td{
	border-bottom-style: solid;
	border-bottom-color: #6A5ACD;
}
table tr:first-child  td:first-child{
	border-top:3px solid white;
}
		
table tr:last-child td:last-child{
	border-bottom:3px solid white;
}
td:before{
	background:#FFA07A;
	width:15vh;
	margin-right:0.5em;
	float:left;
  	line-height:100%;
}
tr{
	border-bottom: 3px solid white;
	width: 100%;
}
tbody tr td:nth-of-type(5){
		border-bottom:none;
}
}
